@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-space-950);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-space-600);
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-brass-600);
  }
}
